@media screen and ( max-width: 1200px ) 
    .container
        max-width: 960px
    .hotel-information-block
        padding-bottom: 60px
    .hotel__swiper-container
        width: 590px
    .hotel-information
        width: 340px 
    .newsletter__container
        max-width: 710px 
    .activity
        width: 215px
        height: 215px   
    .package
        max-width: 300px
        &_active
            max-width: 630px     
@media screen and ( max-width:  991px)
    .container
        max-width: 700px
    .navbar-top
        padding: 30px 0
    .navbar
        &__form
            margin-left: auto
            margin-right: 55px
        &__input
            width: 340px
    .navbar__menu
        width: 96%
        margin: 0 auto
    .logo__image
        width: 133px
    .search__input
        width: 340px
    .navbar-bottom
        padding: 23px 0
    .ratting
        padding: 8px 7px
    .navbar__link
        font-size: 12px
        line-height: 15px
    .hotel__swiper-container
        width: 700px
        margin-bottom: 30px
        margin-right: 0
    .hotel-information
        width: 700px 
    .booking
        width: 48.5%
        margin-right: 20px
        margin-bottom: 0
    .map-wrapper
        width: 48.5%
    .newsletter__container
        padding: 30px 0
    .review
        &__container
            padding-top: 40px
        &__title
            font-size: 30px
            line-height: 38px
            margin-bottom: 50px
        &__card
            max-width: 580px
        &__text
            padding: 0 62px
            &::before
                display: none
            &::after
                display: none
        &__swiper-button-prev
            left: 11px
        &__swiper-button-next
            right: -11px
    .activities__container
        padding-bottom: 70px
    .activity
        max-width: 340px
        width: 100%
        height: 255px
        &:not(:last-child)
            margin-right: 0
        &:not(:nth-child(n+3))
            margin-bottom: 20px
        &:nth-last-child(even)
            margin-right: 20px
    .packages
        &__block
            grid-template-columns: repeat(2, 1fr)
    .package
        max-width: 350px
        &_active
            max-width: 730px
    .footer
        &__container
            grid-template-columns: repeat(4, minmax(min-content, 1fr))
            row-gap: 18px
            column-gap: 18px
            padding: 73px 0 33px
        &__img
            max-width: 96px
            max-height: 120px
        &__logo
            grid-column: 1 / 2
            grid-row: 1 / 2
            margin-top: 0
            margin-bottom: 10px
    .social-network
        grid-column: 2 / 4
        grid-row: 1 / 2
        align-self: center
    .categories
        grid-column: 1 / 2
        grid-row: 3 / 4
        margin-bottom: 20px
    .additional-information
        grid-column: 2 / 4
        grid-row: 3 / 4
    .legal-information
        grid-column: 3 / 5
        grid-row: 3 / 4
        justify-self: end
    .contact-details
        grid-column: 1 / 4
        grid-row: 5 / 6
        padding-top: 0
    .message
        grid-column: 1 / 5
        grid-row: 8 / 9
        max-width: 540px
        padding-top: 7px
        margin-bottom: 20px
    .footer
        &-bottom
            grid-column: 1 / 5
            grid-row: 10 / 11
        &__links
            transform: translateX(0)     
@media screen and ( max-width: 767px )
    .container
        max-width: 530px
    .navbar-top
        padding: 23px 0 28px
    .hotel-name-block__wrapper_success
        padding-top: 100px
    .navbar
        &__form
            &_hidden
                display: none
        &-mobile_fixed
            position: fixed
            top: 0
            left: 0
            right: 0
            z-index: 99
    .user
        &_hidden
            display: none
        &-mobile
            &_visible
                display: flex
    .form-mobile
        display: flex
    .navbar-bottom
        padding: 0
        &_hidden
            display: none
        &_mobile
            position: fixed
            top: 69px
            left: 0
            right: 0
            bottom: 0
        &__container_mobile
            padding: 31px 0 68px
        
    .menu
        &_mobile
            flex-direction: column
            justify-content: center
        &__link:not(:last-child)
            margin-bottom: 20px
    .burger-menu
        display: flex
    .breadcrumb
        padding-top: 70px
    .hotel-name-block
        padding-top: 5px
        padding-bottom: 19px
        &__wrapper
            flex-grow: 1
        &__hotel-name
            flex-basis: 100%
            margin-right: 0
    .ratting
        display: none
    .offer
        order: -1
        margin-bottom: 11px
    .stars
        order: 0
        flex-basis: auto
        margin-left: auto
        margin-right: 15px
        margin-bottom: 14px
    .hotel__swiper-container
        width: 530px
        height: 350px
        margin-bottom: 20px
    .hotel-information
        width: 530px
    .booking
        width: 100%
        margin-right: 0
        margin-bottom: 20px
        padding: 27px 21px 27px 24px
    .map-wrapper
        width: 100%
    .newsletter
        &__container
            max-width: 530px
            justify-content: flex-start
            padding: 76px 0 83px
        &__title
            margin-bottom: 37px
            font-size: 30px
            line-height: 38px
        &__subtitle
            font-size: 20px
            line-height: 25px 
            margin-bottom: 5px 
    .review
        &__container
            padding-bottom: 50px
        &__card
            530px
        &__title
            font-size: 18px
            line-height: 23px
            margin-bottom: 42px
        &__swiper-button
            top: 50px
        &__swiper-button-prev
            left: 50%
            margin-left: -97px
        &__swiper-button-next
            right: 50%
            margin-right: -114px
        &__text
            padding: 0 31px
    .activities
        &__container
            padding: 40px 0 60px
        &__title
            margin-bottom: 36px 
            font-size: 18px 
            line-height: 23px
    .activity
        max-width: 530px
        width: 100%
        height: 255px
        &:not(:last-child)
            margin-bottom: 20px
        &:nth-last-child(even)
            margin-right: 0
    .packages
        &__block
            grid-template-columns: 1fr
    .package
        max-width: 530px
        &_active
            flex-direction: column
            max-width: 530px
            grid-column-start: span 1
            grid-row-start: span 2
        &__image
            &_active
                height: 100%
            &-block
                &_active
                    width: 100%
                    height: 250px
        &__booking-information
            &_active
                width: 100% 
                min-height: 500px
    .footer
        &__container
            grid-template-columns: repeat(1, minmax(min-content, 1fr))
            grid-gap: 30px
            padding: 69px 0 21px
        &__logo
            margin-bottom: 9px
        &__img
            grid-column: 1 / 2
            grid-row: 1 / 2
    .message
        padding-top: 0
        margin-bottom: 0
        &__input-group
            margin-bottom: 15px
        &__inputs
            margin-bottom: 0
    .social-network
        grid-column: 1 / 2
        grid-row: 2 / 3
        justify-self: start
        &__title
            margin-bottom: 20px
            flex-basis: 100%
    .categories
        grid-column: 1 / 2
        grid-row: 5 / 6
        margin-bottom: 7px
    .additional-information
        grid-column: 1 / 2
        grid-row: 4 / 5
        justify-self: start
    .legal-information
        grid-column: 1 / 2
        grid-row: 3 / 4
        justify-self: start
    .contact-details
        grid-column: 1 / 2
        grid-row: 6 / 7
        margin-bottom: 30px
    .message
        grid-column: 1 / 2
        grid-row: 7 / 8
        &__input-group
            width: 100%
        &__block
            justify-content: flex-start
        &__text
            order: -1
            text-align: left
            margin-bottom: 15px
            flex-basis: 100%
        &__textarea
            margin-bottom: 10px
        &__title
            margin-bottom: 15px
    .footer
        &-bottom
            grid-column: 1 / 2
            grid-row: 8 / 9
            justify-content: flex-start
        &__links
            margin-bottom: 10px
            flex-basis: 100%  
            padding-top: 0     
@media screen and ( max-width: 567px )
    .container
        max-width: 440px
    .logo__image
        width: 99px
    .hotel__swiper-container
        width: 440px
        height: 300px
    .hotel-information
        width: 440px 
    .review
        &__card
            max-width: 440px
    .activity
        max-width: 440px
    .package
        max-width: 440px
        &_active
            max-width: 440px
    .modal-dialog
        padding: 33px 70px
        max-width: 400px
    .modal-dialog
        max-width: 440px
    .close
        margin-right: -50px
@media screen and ( max-width: 479px )
    .container
        max-width: 280px
    .form-mobile__input
        max-width: 245px
    .hotel-information-block
        padding: 20px 0 40px
    .hotel__swiper-container
        width: 280px
        height: 180px
    .price-block
        max-width: 110px
    .person-room
        max-width: 110px
    .call-center
        &__text
            max-width: 120px
        &__link
            max-width: 110px
    .hotel-information
        width: 280px
    .map-wrapper    
        height: 170px
    .newsletter
        &__input-group
            max-width: 280px
        &__input
            max-width: 280px
            padding-left: 20px
    .review
        &__card
            max-width: 280px
    .activity
        max-width: 280px
    .package
        max-width: 280px
        &_active
            max-width: 280px
    .modal-dialog
        max-width: 280px
        padding: 33px
    .modal__button
        margin-bottom: 15px
    .close
        margin-right: -15px
@media (max-height: 550px)
    .modal-dialog_scroll
        height: 300px

    