@media screen and ( max-width: 1200px ) 
    .container
        max-width: 960px
    .hotel-information
        padding-bottom: 60px
    .hotel__swiper-container
        width: 590px
    .hotel-description
        width: 340px 
    .newsletter__container
        max-width: 710px 
    .activity
        width: 215px
        height: 215px        
@media screen and ( max-width:  991px)
    .container
        max-width: 700px
    .navbar-top
        padding: 30px 0
    .navbar__search
        margin-left: auto
    .navbar__menu
        width: 96%
        margin: 0 auto
    .logo__image
        width: 133px
    .search__input
        width: 340px
    .navbar-bottom
        padding: 22px 0
    .navbar__link
        font-size: 12px
        line-height: 15px
    .hotel__swiper-container
        width: 700px
        margin-bottom: 30px
        margin-right: 0
    .hotel-description
        width: 700px 
    .booking
        width: 48.5%
        margin-right: 20px
        margin-bottom: 0
    .map-wrapper
        width: 48.5%
    .review
        &__title
            font-size: 30px
            line-height: 38px
            margin-bottom: 50px
        &__card
            max-width: 580px
        &__text
            padding: 0 62px
            &::before
                display: none
            &::after
                display: none
        &__swiper-button-prev
            left: 0
        &__swiper-button-next
            right: 0
    .activities__container
        padding-bottom: 70px
    .activity
        max-width: 340px
        width: 100%
        height: 255px
        &:not(:last-child)
            margin-right: 0
        &:not(:nth-child(n+3))
            margin-bottom: 20px
        &:nth-last-child(even)
            margin-right: 20px
            
@media screen and ( max-width: 767px )
    .container
        max-width: 530px
    .navbar__form
        display: none
    .user
        display: none
    .navbar-bottom
        display: none
    .burger-menu
        display: flex
    .hotel-name-block
        padding-top: 5px
        &__wrapper
            flex-grow: 1
        &__hotel-name
            flex-basis: 100%
            margin-right: 0
    .ratting
        display: none
    .offer
        order: -1
        margin-bottom: 14px
    .stars
        order: 0
        flex-basis: auto
        margin-left: auto
        margin-bottom: 14px
    .hotel__swiper-container
        width: 530px
        height: 350px
        margin-bottom: 20px
    .hotel-description
        width: 530px
    .booking
        width: 100%
        margin-right: 0
        margin-bottom: 20px
    .map-wrapper
        width: 100%
    .newsletter
        &__container
            max-width: 530px
            justify-content: flex-start
            padding: 76px 0 83px
        &__title
            margin-bottom: 37px
    .review
        &__container
            padding-bottom: 50px
        &__card
            530px
        &__title
            font-size: 18px
            line-height: 23px
            margin-bottom: 42px
        &__swiper-button
            top: 45px
        &__swiper-button-prev
            left: 50%
            margin-left: -105px
        &__swiper-button-next
            right: 50%
            margin-right: -105px
        &__text
            padding: 0 31px
    .activities
        &__container
            padding: 40px 0 60px
        &__title
            margin-bottom: 36px 
            font-size: 18px 
            line-height: 23px
    .activity
        max-width: 530px
        width: 100%
        height: 255px
        &:not(:last-child)
            margin-bottom: 20px
        &:nth-last-child(even)
            margin-right: 0
@media screen and ( max-width: 567px )
    .container
        max-width: 440px
    .logo__image
        width: 99px
    .hotel__swiper-container
        width: 440px
        height: 300px
    .hotel-description
        width: 440px 
    .review
        &__card
            max-width: 440px
    .activity
        max-width: 440px
@media screen and ( max-width: 479px )
    .container
        max-width: 280px
    .hotel-information
        padding: 20px 0 40px
    .hotel__swiper-container
        width: 280px
        height: 180px
    .price-block
        max-width: 110px
    .person-room
        max-width: 110px
    .call-center
        &__text
            max-width: 120px
        &__link
            max-width: 110px
    .hotel-description
        width: 280px
    .map-wrapper    
        height: 170px
    .newsletter__input
        max-width: 280px
    .review
        &__card
            max-width: 280px
    .activity
        max-width: 280px
    