*
    box-sizing: border-box
body 
    font-family: 'Mulish', sans-serif
    font-style: normal
    background-color: $main
    color: $gray-1
.body_scrollless
    overflow-y: hidden
a
    text-decoration: none
    color: inherit
    &:hover
        cursor: pointer
        opacity: 0.8
    &:active
        cursor: pointer
        opacity: 0.8
    &:focus
        cursor: pointer
        opacity: 0.8


.container 
    max-width: 1110px
    margin: 0 auto
.button
    background-color: $action
    border: none  
    &[disabled]
        background-color: $gray-3
        cursor: default
        opacity: 1
        &:hover
            cursor: default
            opacity: 1
        &:active
            outline: default
            opacity: 1
        &:focus
            outline: default
            opacity: 1
    &:hover
        cursor: pointer
        outline: none
        opacity: 0.8
        &:active
            outline: none
            cursor: pointer
            opacity: 0.8
        &:focus
            outline: none
            cursor: pointer
            opacity: 0.8
.form
    display: flex
    position: relative
    border-radius: 6px
    overflow: hidden
    &__input
        width: 350px
        border: none
        text-align: left
        &:focus 
            outline: none
    &__button
        position: absolute
        top: 0
        right: 0
.button__book-now
        font-weight: 600
        font-size: 14px
        line-height: 19px
        z-index: 10
        display: inline-block
        color: $main-light
        text-align: center
        padding: 10px 27px
        background: $action
        border-radius: 4px
.inactive
    display: none
.icon
    &_user
        fill: $main-light
        width: 14px
        height: 14px
    &_room
        fill: $main-light
        width: 14px
        height: 14px
    &_location
        fill: $main-light
        width: 14px
        height: 14px
.hotel-name-block
    &__wrapper_success
        display: flex
        flex-direction: column
    &__hotel-name_success
        padding-bottom: 15px
    &__hotel-name-description_success
        padding-bottom: 15px
.error
    font-weight: 700
    font-size: 9px
    line-height: 10px
    color: $action
    position: absolute
label
    top: 50px
input
    outline: none
textarea
    outline: none
@keyframes blink1 
    0% 
        background-color: rgba(34, 34, 34, 1)
    50% 
        background-color: rgba(34, 34, 34, 0)
    100% 
        background-color: rgba(34, 34, 34, 1)
