*
    box-sizing: border-box
body 
    font-family: 'Mulish', sans-serif
    font-style: normal
    background-color: $main
    color: $gray-1
a
    text-decoration: none
    color: inherit
.container 
    max-width: 1110px
    margin: 0 auto
.button
    background-color: $action
    border: none  
    &:hover
        cursor: pointer
        outline: none
        &:active
            outline: none
        &:focus
            outline: none
.form
    display: flex
    position: relative
    border-radius: 6px
    overflow: hidden
    &__input
        width: 350px
        border: none
        text-align: left
        &:focus 
            outline: none
    &__button
        position: absolute
        top: 0
        right: 0
.book-now__button
        z-index: 10
        display: inline-block
        color: $main-light
        text-align: center
        padding: 7px 20px
        background: $action
        border-radius: 4px
.inactive
    display: none
.icon
    &_user
        fill: $main-light
        width: 14px
        height: 14px
    &_room
        fill: $main-light
        width: 14px
        height: 14px
    &_location
        fill: $main-light
        width: 14px
        height: 14px