.footer
    background-color: $main-dark
    &__container
    padding: 108px 0 46px
.categories
    display: flex
    flex-direction: column
    font-weight: 400
    font-size: 14px
    line-height: 160%
    color: $gray-4
    &__title
        font-weight: 700
        font-size: 18px
        line-height: 23px
        color: $main-light
        text-transform: uppercase
        margin: 0
        margin-bottom: 16px
.additional-information
        display: flex
        flex-direction: column
        font-weight: 400
        font-size: 14px
        line-height: 160%
        color: $gray-4
        &__title
            font-weight: 700
            font-size: 18px
            line-height: 23px
            color: $main-light
            text-transform: uppercase
            margin: 0
            margin-bottom: 16px
.legal-information
    display: flex
    flex-direction: column
    font-weight: 400
    font-size: 14px
    line-height: 160%
    color: $gray-4   
    &__title
        font-weight: 700
        font-size: 18px
        line-height: 23px
        color: $main-light
        text-transform: uppercase
        margin: 0
        margin-bottom: 16px
.social-network
    display: flex
    flex-wrap: wrap
    &__title
        font-weight: 700
        font-size: 18px
        line-height: 23px
        color: $main-light
        text-transform: uppercase
        margin: 0
        margin-bottom: 16px
        margin-right: 43px
.social-networks
    display: flex
    align-items: flex-start
.contact-details
    padding-top: 12px
    display: flex
    flex-direction: column
    &__title
        font-weight: 700
        font-size: 18px
        line-height: 23px
        color: $main-light
        text-transform: uppercase
        margin: 0
        margin-bottom: 20px
    &__subtitle
        font-weight: 400
        font-size: 14px
        line-height: 160%
        color: $gray-4 
        margin: 0
        margin-bottom: 20px
    &__wrapper
        padding-left: 6px
    &__text
        font-weight: 400
        font-size: 14px
        line-height: 160%
        color: $gray-4 
    &__map
        display: flex
        flex-wrap: nowrap
        align-items: flex-start
        margin-bottom: 20px
    &__contacts
        display: flex
        flex-wrap: nowrap
        align-items: flex-start
    &__email
        display: flex
        flex-wrap: nowrap
        align-items: flex-start
    &__icon-wrapper
        width: 18px
        display: flex
        align-items: center
        margin-right: 20px
.contact-wrapper
    display: flex
    flex-direction: column 
    margin-bottom: 20px
.message
    &__title
        font-weight: 700
        font-size: 18px
        line-height: 23px
        color: $main-light
        text-transform: uppercase
        margin: 0
        margin-bottom: 20px
    &__form
    &__input
        padding: 18px 23px
        background-color: $main-light
        font-weight: 400
        font-size: 12px
        line-height: 15px
        color: $gray-4
        border: none
        border-radius: 4px
    &__textarea
        padding: 18px 23px
        background-color: $main-light
        font-weight: 400
        font-size: 12px
        line-height: 15px
        color: $gray-4
        border: none
        border-radius: 4px
    &__block
        display: flex
    &__button
        padding: 17px
        min-width: 160px
        min-height: 50px
        border-radius: 4px
        font-weight: 700
        font-size: 12px
        line-height: 15px
        color: $main-light
    &__text
        font-weight: 700
        font-size: 12px
        line-height: 15px
        color: $gray-5
        text-align: right

.icon
    &_facebook
        width: 20px
        height: 20px
        fill: $gray-4
        margin-right: 12px
    &_instagram
        width: 20px
        height: 20px
        fill: $gray-4
        margin-right: 12px
    &_youtube
        width: 20px
        height: 20px
        fill: $gray-4
    &_map
        width: 14px
        height: 20px
        fill: $gray-4
    &_phone
        width: 18px
        height: 18px
        fill: $gray-4
    &_email
        width: 16px
        height: 13px
        fill: $gray-4
.footer-bottom
    &__links
        display: flex
        align-items: center
    &__link
        font-weight: 400
        font-size: 12px
        line-height: 15px
        color: $main-light
    &__link:not(:last-child)
        margin-right: 10px
        
    &__image
        width: 136px
        height: 22px