.hotel-name
    padding: 23px 0 20px
    display: flex
    justify-content: space-between
    align-items: center
    &__wrapper
        display: flex
        flex-direction: column
    &__block
        display: flex
        align-items: center
        flex-wrap: wrap
.stars
    flex-basis: 100%
    display: flex
    margin-bottom: 4px
.star
    margin-right: 2px
.hotel-name__title
        margin: 0
        margin-right: 14px
        font-weight: 700
        font-size: 24px
        line-height: 30px
        text-transform: uppercase
.hotel-name__description
    margin: 0
    font-weight: 400
    font-size: 12px
    line-height: 15px
.offer
    padding: 3px 9px
    font-weight: 600
    font-size: 10px
    line-height: 13px
    color: $main-light
    background-color: $action
    border-radius: 3px
.ratting
    display: flex
    flex-direction: column
    align-items: center
    padding: 9px 6px
    background-color: $action
    border-radius: 4px
    &__text
        margin-bottom: 2px
        font-weight: 600
        font-size: 8px
        line-height: 10px
        color: $main-light
    &__count
        font-weight: 700
        font-size: 14px
        line-height: 18px
        color: $main-light
        &_small
            font-size: 12px
.hotel-information
    padding-bottom: 70px
    display: flex
    flex-wrap: wrap
.slider 
    width: 728px
    height: 450px
    margin-right: 30px
    position: relative
    &__button
        position: absolute
        top: 50%
        transform: translateY(-50%)
        width: 30px
        height: 30px
        z-index: 99
        background-size: 10px
        background-repeat: no-repeat
        background-position: center
        cursor: pointer
        &_prev
            background-image: url(../assets/icons/button-prev.svg)
            left: 16px
        &_next
            background-image: url(../assets/icons/button-next.svg)
            right: 16px
.swiper-container
    width: inherit
    height: inherit
.swiper-slide
    position: relative
    width: inherit
    height: inherit
    border-radius: 8px
    overflow: hidden
    &::after
        content: ""
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%)
        border-radius: 8px 
    img
        width: inherit
        height: inherit 
.hotel-description
    max-width: 350px  
    display: flex
    flex-wrap: wrap
.booking
    max-width: 350px
    width: 100%
    margin-bottom: 27px
    padding: 26px
    background-color: $main-dark
    border-radius: 8px
    &__information
        display: flex
        align-items: flex-start
        justify-content: space-between
        margin-bottom: 9px
.price-block
    max-width: 140px
    display: flex
    flex-direction: column
    font-family: Nunito
    color: $main-light
    text-align: left
    &__text
        font-weight: 400
        font-size: 10px
        line-height: 14px
    &__price
        font-weight: 800
        font-size: 24px
        line-height: 33px
    &__per-room
        font-weight: 400
        font-size: 12px
        line-height: 16px
.person-room
        max-width: 140px
        min-width: 80px
        font-family: Nunito
        font-weight: 400
        font-size: 12px
        line-height: 16px
        color: $main-light
        text-align: right
        &__guests
            display: flex
            justify-content: space-between
            align-items: flex-start
            margin-bottom: 8px
            img
                margin-right: 8px
        &__rooms
            display: flex
            justify-content: space-between
            align-items: flex-start
            img
                margin-right: 8px
.call-center  
    margin-bottom: 17px
    display: flex
    align-items: flex-start
    justify-content: space-between
    font-family: Nunito
    font-weight: 600
    font-size: 18px
    line-height: 25px
    color: $main-light  
    &__text
        max-width: 140px
        text-align: left
    &__link
        display: flex
        justify-content: space-between
        align-items: flex-start
        vertical-align: center
        text-align: right
        max-width: 140px
        min-width: 80px
        img
            margin-right: 8px
            padding-top: 6px

.booking__button
    display: flex
    flex-basis: 100%
    justify-content: center
    align-items: center
    text-align: center
    padding: 13px
    font-family: Nunito
    font-weight: 600
    font-size: 14px
    line-height: 19px
    color: $main-light
    border-radius: 4px
.map
    max-width: 350px
    width: 100%
    height: 213px
    background-color: $main-light
    border-radius: 10px
    overflow: hidden