.newsletter
    position: relative
    &::after
        position: absolute
        content: ""
        top: 0
        bottom: 0
        right: 0
        left: 0
        width: 100%
        background: rgba(10, 34, 61, 0.8)
    &__container
        max-width: 730px
        padding: 98px 0 77px
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        align-items: center
    &__title
        z-index: 10
        margin: 0
        font-weight: 600
        font-size: 36px
        line-height: 45px
        text-transform: uppercase
        color: $main-light
    &__subtitle
        font-weight: 300
        font-size: 24px
        line-height: 30px
        text-transform: none
        display: block
    &__input-form
        display: flex
        flex-direction: column
        position: relative
    &__form
        z-index: 10
        min-height: 75px
        width: 350px
        margin-top: 10px
    &__input-group
        width: 350px
        position: absolute
        left: 0
        height: 55px
    &__input
        height: 55px
        font-weight: 300
        font-size: 14px
        line-height: 18px
        color: $gray-4 
        padding: 18px 75px 18px 33px
        border-radius: 6px
        overflow: hidden
    &__button
        height: 55px
        font-weight: 700
        font-size: 12px
        line-height: 15px
        color: $main-light
        padding: 20px 18px
        border-radius: 0 6px 6px 0
        overflow: hidden
#email_subscription-error
    top: 55px
.empty-input
    font-weight: 700
    font-size: 9px
    line-height: 10px
    color: #EC1F46
    z-index: 10
    position: absolute
    top: 65px
    &_none
        display: none